<div class="row justify-content-center">
  <div class="col-12">
    <div class="card card-body">
        <% if @photos.any? %>
          <h1>Your Photos</h1>
          <% @photos.each_slice(3) do |photos_row| %>
            <div class="row">
              <% photos_row.each do |photo| %>
                <div class="col-4">
                  <div class="media-left">
                    <%= link_to image_tag(photo.image.url, class: 'media-object user-photo'), photo.image.url, target: '_blank' %>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><%= photo.title %></h4>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <h3>No Photos Yet! Upload your first image <%= link_to "now", new_user_photo_path %>!</h3>
        <% end %>
    </div>
  </div>
</div>
