@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Rubik:700');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  background: url('http://d5qsyj6vaeh11.cloudfront.net/images/campaigns/great-belfast/collage-explore-belfast-northern-ireland.jpg') no-repeat center center fixed;
  width: 100%;
}

.navbar {
  width: 100%;
  padding: 0;
}

.navbar-brand {
  font-family: 'Rubik', sans-serif;
  font-size: 45px;
  padding: 0;
}

.bg-dark {
    background-color: rgba(21,21,21,.6) !important;
}

.link-text {
  font-size: 20px;
  font-weight: bold;
}

.user-photo {
  width: 300px;
}
