<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      <a class="navbar-brand" href="/">PicStore</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "My Photos", user_photos_path(current_user), :class => "nav-link" %>
              </li>
            <% end %>
          </ul>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to "Logout, #{current_user.email}", destroy_user_session_path, method: :delete, :class => "nav-link"%>
            <% else %>
              <%= link_to "Login", new_user_session_path, :class => "nav-link text-light link-text"%>
          </li>
          <li class="nav-item ml-2">
              <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-light text-dark nav-link link-text" %>
            <% end %>
          </li>
        </ul>
      </div>
</nav>
